/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 *,
 *:before,
 *:after {
     box-sizing: border-box;
     margin:0;
     padding:0;
 }

html, body {
    min-height: 100vh;
}

 body {
     display: flex;
     flex-direction: row;
     align-items: stretch;
     color: white;
     background: rgba(0,0,0,1);
     font-family: Helvetica, sans-serif
 }

 body > * {
     min-height: 100vh;
 }



main {
    flex: 1 1 auto;
    min-height: 100%;
    border-left: rgb(47,51,54) 1px solid;
    border-right: rgb(47,51,54) 1px solid;
}

.right-sidebar {
    margin-left: 30px;
    margin-right: 100px;
    min-height: 100%;
    flex: 0 1 300px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.logo-container svg {
    height: 24px;
    width: auto;
}

svg {
    width: 24px;
    height: auto;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    cursor:default;
  }


/* Main nav */

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 100%;
    flex: 0 1 362.5px;
}

.hdr-content-container {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.hdr-content-container > * {
    flex: 1 0 auto;
}

.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding: 5px 10px 5px 10px;
    min-width: 220px;
    height: 100%;
    max-height: 450px;
    position: sticky;
    top:0;

}

.main-nav a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: rgba(255,255,255,0.88);
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
}

.main-nav a:first-child {
    padding-right: 10px;
}

.main-nav a:last-child {
    width: 95%;
    margin-top: 10px;
}

.main-nav a:hover {
    color: rgb(18,190,252);
    border-radius: 9999px;
    background-color: rgba(18,190,252, 0.2);
}

.main-nav a:hover svg {
    filter: invert(71%) sepia(78%) saturate(3860%) hue-rotate(162deg) brightness(102%) contrast(98%);
}

.nav-container {
    padding-right: 10px;
}

.main-nav svg {
    padding-right: 15px;
    width: auto;
    height: 28px;
    margin-bottom: 5px;
}

svg {
    filter: invert(85%);
  }


.tweet-btn {
    background-color: rgb(29, 161, 242);
    box-shadow: rgba(0 0 0 / 8%) 0px 8px 28px;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    min-width: 48px;
    min-height: 48px;
    cursor: pointer;
    padding-left: 32px;
    padding-right: 32px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-radius: 9999px;
    transition-duration: 0.2s;
}


.tweet-btn span {
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.15rem;
    color: white;
    letter-spacing:0.02rem;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    flex-grow: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    position:sticky;
    bottom:0;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

main {
    max-width: 50vw;
}

.main-container {
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr minmax(600px, auto) 1fr;
}

.main-nav .tweet-btn:hover {
    background-color: rgb(10,130,210);
}

.tweet-btn:hover {
    background-color: rgb(10,130,210);
}

.user-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.user-actions > * {
    text-decoration: none;
    color: #d9d9d9;
    border-radius: 9999px;
    padding: 5px 10px;
    font-weight: 700;
}


.user-actions input {
    border-radius: 9999px;
    padding: 10px;
    border:none;
    font-size: 15px;
    background: rgb(21,24,28);
    color: white;
}

.user-actions #search {
    border-radius: 9999px 0 0 9999px;
    padding-right: 0;
}

.user-actions input[type="submit"] {
    border-radius: 0 9999px 9999px 0;
    color: #d9d9d9;
}

.user-actions input[type="submit"]:hover {
    background: rgb(40,44,58);

}

.tweeter-name {
    font-size: 15px;
    color: #d9d9d9;
    font-weight: 700;
}

.tweeter-name:hover {
    text-decoration: underline;
    cursor:pointer;
}

.tweeter-handle, .tweet-date, .small-gray {
    color: #6E767D;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img {
    filter: invert(71%) sepia(78%) saturate(3860%) hue-rotate(162deg) brightness(102%) contrast(98%);
    width: 90%;
    height: auto;
}

.logout-btn {
    border-radius: 9999px;
    transition-duration: 0.2s;
    padding: 10px 20px;
}

.logout-btn:hover {
    background-color: rgba(18,190,252, 0.3);
    color:rgb(18,190,252);
}

.filter-blue {
    filter: invert(71%) sepia(78%) saturate(3860%) hue-rotate(162deg) brightness(102%) contrast(98%);
}


.replies-container, .mentions-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    border: 3px solid rgb(21,24,28);
    border-radius: 5%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
    background: rgb(21,24,28);
}

.replies-container h2, .mentions-container h2 {
    padding-bottom: 3px;
}



.mentioner {
    color:rgb(68, 170, 233);
}

.mentioner:hover {
    text-decoration: underline;
}

.back-btn:hover {
    background-color: white;
}