


.login-container, .new-registration-container, .forgot-password-container {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    min-width: 320px;

    >* {
        width: 100%;
    }


    input {
        font-size: 16px;
        padding: 10px 10px;
        border-radius: 5px;
        border:1px solid slategray;
        width: 100%;
    }

    h2 {
        padding-bottom: 20px;
        align-self: flex-start;
        font-weight: 700;
        font-size: 28px
    }

    #user_email {
        margin: 10px 0;
        margin-top: 5px;
    }

    #user_password {
        margin: 10px 0;
        margin-top: 5px;
    }

    label {
        color: #d9d9d9;
        font-size:14px;
        font-weight: 600;
        font-family: Helvetica, sans-serif
    }

    input[type="submit"] {
        width: 100%;
        border-radius: 9999px;
        background-color: rgb(29, 161, 242);
        margin-bottom: 20px;
        margin-top: 15px;
        padding: 15px;
        color: white;
        font-weight: 450;
    }
    input[type="submit"]:hover {
        background-color: rgba(29,161,242,0.9);
    }

    #remember-me {
        display:flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

        #user_remember_me {
            width: auto;
            border: none;
            margin: 5px;
        }

        label {
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .devise-nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;
    }
    
    a {
        color: rgb(53, 163, 231);
        font-family:Helvetica, sans-serif;
    }

    a:hover {
        text-decoration: underline;
    }
}

.new-registration-container {
    #user_username {
        margin-bottom: 10px;
    }

    em {
        color: #d9d9d9;
        font-size: 14px;
    }
}

.forgot-password-container {
    a {
        padding-bottom: 5px;
    }
}