
.profiles-container {



.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


form {
    display:flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 40px;
    padding-top: 50px;

    #profile_description {
        width: 95%;
        height: 200px;
        font-size: 16px;
        background-color: rgba(6, 26, 37, 0.671);
        color: #d9d9d9;
        border-radius: 1%;
        resize: none;
    }
}


}